* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: linear-gradient(#0093e9, #80d0c7);
  height: 100vh;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  height: 30rem;
  width: 30rem;
}

.card img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.card:before,
.card:after {
  content: "";
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.card:hover:before {
  transform: rotate(10deg);
}
.card:hover:after {
  transform: rotate(23deg);
}

.img-box {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: #222;
  transition: 1s;
  z-index: 2;
}

.img-box:hover {
  bottom: 80px;
}

.details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}
