* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  background: #eeeded;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a {
  margin: 0 20px;
  text-decoration: none;
  color: #212121;
  font-size: 22px;
  padding: 1rem 2rem;
  position: relative;
  transition: all 0.5s;
}

.list-items:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scaleY(2);
  transition: 1s;
  border-top: 2px solid crimson;
  border-bottom: 2px solid crimson;
}

.list-items:hover:before {
  transform: scaleY(1.2);
  opacity: 1;
}

.list-items:after {
  content: " ";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 1s;
  background: crimson;
  z-index: -1;
}

.list-items:hover:after {
  transform: scale(1);
}

.list-items:hover {
  color: #fff;
}
