* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  background: #141414;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  padding: 1rem 2rem;
  position: relative;
}

.list-items:before {
  content: " ";
  position: absolute;
  top: 12px;
  right: 12px;
  height: 12px;
  width: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.5s;
}

.list-items:hover:before {
  transform: scale(1);
  top: 0;
  right: 0;
}

.list-items:after {
  content: " ";
  position: absolute;
  bottom: 12px;
  left: 12px;
  height: 12px;
  width: 12px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.5s;
}

.list-items:hover:after {
  transform: scale(1);
  bottom: 0;
  left: 0;
}
