* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  width: 400px;
  background: #000;
  color: #fff;
  padding: 20px;
  /* overflow: hidden; */
}

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 20px;
}
